* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: rgb(233, 237, 245);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0.1rem;
    position: sticky;
    top: 0;
    background-color: #ffffff7d;
}

.page-name {
    width: 100%;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.273);
    font-weight: 600;
    position: relative;
    top: 0;
}

button.contact-us a{
    /* background-color: cornflowerblue; */

    /* size for pc */
    /* padding: 1.3rem 2rem 1.14rem 2rem; */

    padding: 1rem;
    color: #808080;
    text-decoration: none;
}

button.contact-us {
    background-color: chocolate;

    border: 0.5px solid #808080;
    border-radius: 10px;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1.25rem;
    /* 4 rem is for pc */
}

button.contact-us a:hover {
    color: rgb(36, 54, 110);
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
}

span.shop-name {
    font-weight: bold;
    font-size: 40px;
    color: rgb(55, 83, 173);
    margin-left: 1.25rem;
    /* 4 rem is for pc */
}

span.shop-name:hover {
    color: #0000ff;
    transition: 0.5s;
    cursor: pointer;
}

.shop-name sub {
    font-size: 25px;
}

/* SECTION */
section.main-body1 {
    min-width: 100%;
    min-height: 80rem;
    text-align: center;
    padding: 2rem;
    /* background-color: rgb(220, 212, 202); */
}

.menu-title {
    margin-top: 1rem;
}

#menu-link:hover + .menu-title{
    transition: all 0.5s ease;
    color: #0000ff;
    text-decoration: underline;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 1.25rem;
    line-height: 2rem;
}

footer h2 {
    color: rgb(55, 83, 173);
    margin-bottom: 1rem;
}

.footer-container {
    padding: 1rem;
    border:1px solid #808080;
    border-radius: 10px;
}